<p></p>
<div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Gallery Component
            {{motCle}}
        </div>
        <div class="panel-body">
            <div class="row">
            <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
                <div class="form-group">
                    <label>Mot clé:</label>
                    <input type="text" name="motCle" ngModel required [(ngModel)]="motCle">
                    <button class="btn btn-primary" type="submit">chercher</button>
                </div>
            </form>
        </div>
      </div>
</div>
</div>
<div class="row">
<div *ngFor="let p of pagePhotos?.hits" class="col-md-3">
  <div class="panel panel-primary cadre">
      <div class="panel-heading">
          <img class="img-circle" src="{{p.userImageURL}}" width="50" height="50">
          {{p.tags}}
        </div>
      <div class="panel panel-body">
          <img src="{{p.previewURL}}">
      </div>
  </div>
</div>
</div>
<div class="row">
    <ul class="nav nav-pills">
        <li [ngClass]="{'active':currentPage==(i+1)}"  *ngFor="let page of pages; let i=index" class="clickable">
            <a (click)="goToPage(i)">{{i}}</a>
            {{page}}
        </li>
    </ul>
</div>
</div>
